.container {
  border: 1px solid black;
  border-radius: 3px;
  padding: 3rem 8rem;
  margin: 2rem;
  min-height: 90vh;
  width: 58rem;
}
.spiner {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
.container .fa-spin-pulse {
  font-size: 10rem;
  font-family: "FontAwesome";
  font-weight: 900;
}
